SP_APP_ID=""
SP_APP_PWD=""
TENANT_ID=""
USE_INTERACTIVE_LOGIN_FOR_AZURE=""
SUBSCRIPTION_ID=""
RESOURCE_GROUP=""
LOCATION=""
USE_EXISTING_RESOURCES=""
IOTHUB_NAME=""
STORAGE_ACCOUNT_NAME=""
APP_SERVICE_PLAN_NAME=""
APP_SERVICE_PLAN_SKU=""
WEBAPP_NAME=""
PASSWORD_FOR_WEBSITE_LOGIN=""
WEBAPP_DEPLOYMENT_ZIP=""