# Change these line to deploy a different Archon container image, for example use another branch
# or deploy just tracker.
TRACKER_CONTAINER_IMAGE_NAME=rgbtracking-node-master
TRACKER_CONTAINER_IMAGE_TAG=0.7.1140.13

CAMERA_CONTAINER_IMAGE_TAG=0.1

# Azure Container Registry passwords. 
# ACR_NAME_RTPT=rtptofficial.azurecr.io
# ACR_PASSWORD_RTPT=LqgO5u_19UoK_5OOh-~3Y3E-P2JWN5~6~J
# ACR_USERNAME_RTPT=48baeb10-1ccb-4457-9074-e3b52d4c8ca6

ACR_NAME_RTPT=acrunifiededgedev001.azurecr.io
ACR_PASSWORD_RTPT=wmbq=hpAZd/JXf4iseesMwAds43zTinH
ACR_USERNAME_RTPT=acrunifiededgedev001

ARCHON_PERF_MARKER=false
ARCHON_LOG_LEVEL=info

# /tmp/video/zoffice.mp4
CROSSING_VIDEO_URL=YmZFAcK6ZlLCgcKTecKzScOTC3XCngjCpcOFw791ZsKSeG1pN8O4SXUpFQ==
LIVE_CAMERAS=false
KEY_ENV=3DD501287AF2125483DA3ABCC0A94989
IV_ENV=12DF4F3D0AAE8CA8223A8558325CC768

# Telegraf container settings. How to get these values?
TELEGRAF_CONTAINER_IMAGE_NAME=telegraf
TELEGRAF_CONTAINER_IMAGE_TAG=1.0
TELEGRAF_AZURE_TENANT_ID=72f988bf-86f1-41af-91ab-2d7cd011db47
TELEGRAF_AZURE_CLIENT_ID=0f7f7846-252e-4e95-9b4a-3194e04f0fed
TELEGRAF_AZURE_CLIENT_SECRET=CW_xRY3i3XhsDlMAN8e51HVsCKyu58j9FA
# TELEGRAF_INTERVAL: how often to pull the telemetry, 1m means 1 minute
TELEGRAF_INTERVAL=1m

# IOT settings. Retrieve from IOT Hub portal 'properties'. Ex. Region = 'westus'; 
IOT_REGION=westus2
IOT_RESOURCE_ID=/subscriptions/7c9469c0-29ac-424a-85ab-d01f2cea1c38/resourceGroups/rg-unifiededge-dev-001/providers/Microsoft.Devices/IotHubs/iot-unifiededge-001

# LocalBlobStorage (LBS) container settings.
LBS_CONTAINER_IMAGE_NAME=azure-blob-storage
LBS_CONTAINER_IMAGE_TAG=latest
LBS_ACCOUNT_NAME=unifiededge001
LBS_ACCOUNT_KEY=sdEcamkTGjvp0ra8Wtt3vHHElslZbFHYlSVq4II+a1dRvZLgIfZnHDPk/458jCTw1A5jlpwTbzZxV6xM0xbUXQ==
LBS_BLOB_FOLDER=recording
LBS_DELETE_ON=true
LBS_DELETE_AFTER_MINUTES=1440

# VideoRecorder (VR) settings.
VR_ENCRYPTION_KEY_URL=https://unifiededge001.blob.core.windows.net/key/rec.pem
VR_DEVICE_LIST="\"{ \\\"devices\\\": { } }\""
VR_DURATION_TIME_IN_SECONDS=1200

# PEngineLogs container settings.
LOG_CONTAINER_IMAGE_NAME=perceptionengine.iotedgelogs
LOG_CONTAINER_IMAGE_TAG=manganese_20200212
LOGANALYTICS_WORKSPACE_ID=136c664c-1eeb-4067-ba6e-b00f4010cf4d
LOGANALYTICS_SHAREDKEY=GNc9L48INRV4W3KmIuIzF3E1eQvMSUwM9OnvjAOmYeyQ80asmKnuPw3IZoe/Zbk3mXhLiNe3UzNO1VFaUYu4Lg==

# Display for Visualizer
DISPLAY=:1
