# Change these line to deploy a different Archon container image, for example use another branch
# or deploy just tracker.
TRACKER_CONTAINER_IMAGE_NAME=rgbtracking-node-master
TRACKER_CONTAINER_IMAGE_TAG=0.7.1140.13

# Azure Container Registry passwords. 
# ACR_NAME_RTPT=rtptofficial.azurecr.io
# ACR_PASSWORD_RTPT=LqgO5u_19UoK_5OOh-~3Y3E-P2JWN5~6~J
# ACR_USERNAME_RTPT=48baeb10-1ccb-4457-9074-e3b52d4c8ca6

ACR_NAME_RTPT=acrunifiededgedev001.azurecr.io
ACR_PASSWORD_RTPT=wmbq=hpAZd/JXf4iseesMwAds43zTinH
ACR_USERNAME_RTPT=acrunifiededgedev001

ARCHON_PERF_MARKER=false
ARCHON_LOG_LEVEL=info
LIVE_CAMERAS=true

# Telegraf container settings. How to get these values?
TELEGRAF_CONTAINER_IMAGE_NAME=telegraf
TELEGRAF_CONTAINER_IMAGE_TAG=1.0
TELEGRAF_AZURE_TENANT_ID=
TELEGRAF_AZURE_CLIENT_ID=
TELEGRAF_AZURE_CLIENT_SECRET=
# TELEGRAF_INTERVAL: how often to pull the telemetry, 1m means 1 minute
TELEGRAF_INTERVAL=1m

# IOT settings. Retrieve from IOT Hub portal 'properties'. Ex. Region = 'westus'; 
IOT_REGION=
IOT_RESOURCE_ID=

# LocalBlobStorage (LBS) container settings.
LBS_CONTAINER_IMAGE_NAME=azure-blob-storage
LBS_CONTAINER_IMAGE_TAG=latest
LBS_ACCOUNT_NAME=recorder
LBS_ACCOUNT_KEY=temp
LBS_BLOB_FOLDER=temp
LBS_DELETE_ON=false
LBS_DELETE_AFTER_MINUTES=0

# VideoRecorder (VR) settings.
VR_ENCRYPTION_KEY_URL=https://url/for/public/key.pem
VR_DEVICE_LIST="\"{ \\\"devices\\\": { } }\""
VR_DURATION_TIME_IN_SECONDS=1200

# PEngineLogs container settings.
LOG_CONTAINER_IMAGE_NAME=perceptionengine.iotedgelogs
LOG_CONTAINER_IMAGE_TAG=manganese_20200212
LOGANALYTICS_WORKSPACE_ID=136c664c-1eeb-4067-ba6e-b00f4010cf4d
LOGANALYTICS_SHAREDKEY=GNc9L48INRV4W3KmIuIzF3E1eQvMSUwM9OnvjAOmYeyQ80asmKnuPw3IZoe/Zbk3mXhLiNe3UzNO1VFaUYu4Lg==

# Display for Visualizer
DISPLAY=:50.0
